/*** Topbar ***/
#topbar {
    background: #eeeeee;
    padding: 10px 0;
    .as-text-topbar-header{
	    font-size: 14px;
    }
    .as-group-button-topbar{
	    text-align: right;
	    a{
		    margin-left: 10px;
		    display: inline-block;
		    text-transform: uppercase;
		    padding: 3px 15px;
		    color: #fff;
		    font-weight: 400;
		    @include border-radius(15px);
	    }
    }
}
#header{
    padding: 25px 0;
    margin: 0px auto;
    position: relative;
    display: block;
    #site-title{
	    text-transform: uppercase;
		margin-bottom: 0;
		float: none;
		display: inline-block;
		vertical-align: bottom;
    }
    #site-description{
	    float: none;
		display: inline-block;
		vertical-align: bottom;
		margin: 0;
		line-height: 1.8;
    }
}
#access{
	ul.menu {
		li {
			position: relative;
			margin-left: 40px;
			&:before{
				content: '';
				width: 100%;
				height: 2px;
				background-color: $primary_color;
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;
				@include transition();
				@include transform(scale(0));
			}
			&:hover{
				&:before{
					@include transform(scale(1));
				}
			}
			&.current_page_item{
				a{
					color: $primary_color;
				}
				&:before{
					content: '';
					width: 100% !important;
					height: 2px;
					background-color: $primary_color;
					position: absolute;
					left: 0;
					bottom: 0;
					@include transition();
					@include transform(scale(1));
				}
			}
			a{
				font-size: 14px;
				font-weight: 700;
				text-transform: uppercase;
				color: #212121;
				padding: 0;
				@include transition();
				&:hover{
					color: $primary_color;
				}
			}
		}	
	}
}