/* = Import Font
-------------------------------------------------------------- */
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic,900,900italic);
/* ---------------------------------------- */
/* 1.  Base Style
/* ---------------------------------------- */
@import "mixin";
@import "base";

/* ---------------------------------------- */
/* 2.  Header Style
/* ---------------------------------------- */
@import "header";

/* ---------------------------------------- */
/* 3.  Search Form Style
/* ---------------------------------------- */
@import "search_form";

/* ---------------------------------------- */
/* 4.  Forum Style
/* ---------------------------------------- */
@import "forum";

/* ---------------------------------------- */
/* 4.  Contact
/* ---------------------------------------- */
@import "contact";

/* Topic*/
/*
#bbpress-forums div.bbp-topic-author img.avatar, #bbpress-forums div.bbp-reply-author img.avatar{
    border-radius: 100%; 
}
#bbpress-forums .bbp-body .bbp-reply-content{
    text-transform: initial;
}
.forums.bbp-replies > *,
.bbp-lead-topic > *{
    background: #eee;
    padding-left: 20px !important;
    padding-right: 20px !important;
}
.bbp-lead-topic .bbp-body{
    padding-bottom: 10px;
}
.bbp-single-topic-meta{
    padding: 0 20px;
}
.bbp-header{
    margin-bottom: 30px !important;
}
#content .entry-title{
    margin-bottom: 20px;
}
.posted-in > .parent-forum{
    background: #a7a7a7;
    padding: 3px 5px;
    color: #fff;
}
.aq-topic-status .in-progress{
   padding: 3px 5px;
   border-radius: 0;
   background: #d85f16;
   color: #fff;
}
.forums.bbp-replies .bbp-header .bbp-single-topic-meta, .bbp-single-topic-meta{
    padding: 0;
    background: none;
}
div.topic-author-displayname, div.reply-author-displayname{
    font-family: "Lato",serif;
    font-size: 18px;    
}
.bbp-reply-content a:hover{
    color: #000;
}
.bbp-template-notice p{
      font-size: 12px;
  font-family: "Lato";
  color: rgb( 242, 242, 242 );
  line-height: 1.167;
  text-align: left;
}
.bbp-template-notice {
  background-color: rgb( 82, 101, 89 ) !important;
  border: none !important;
  border-radius: 0 !important;
}
.bbp-topic-action{
    margin-top: -25px;
}
*/
